<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/roywelborn/Documents/GitHub/Full-Sail-University-Projects/DPV2/EdwardWelborn_Project1c/EdwardWelborn_Project1c.mp4</key>
	<data>
	Ym9va9ADAAAAAAQQMAAAAO14fEKfipNWCEd92RdobIGEA2TgdSZAjpxSrYKc+rzWwAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAHJveXdlbGJvcm4AAAkA
	AAABAQAARG9jdW1lbnRzAAAABgAAAAEBAABHaXRIdWIAAB0AAAABAQAARnVsbC1TYWls
	LVVuaXZlcnNpdHktUHJvamVjdHMAAAAEAAAAAQEAAERQVjIXAAAAAQEAAEVkd2FyZFdl
	bGJvcm5fUHJvamVjdDFjABsAAAABAQAARWR3YXJkV2VsYm9ybl9Qcm9qZWN0MWMubXA0
	ACAAAAABBgAAEAAAACAAAAA0AAAASAAAAFgAAACAAAAAjAAAAKwAAAAIAAAABAMAANxp
	BgAAAAAACAAAAAQDAABHsQkAAAAAAAgAAAAEAwAASLEJAAAAAAAIAAAABAMAAGLZCQAA
	AAAACAAAAAQDAACz9jIAAwAAAAgAAAAEAwAAhPkyAAMAAAAIAAAABAMAAN75MgADAAAA
	CAAAAAQDAADf+TIAAwAAACAAAAABBgAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEA
	AGgBAAAIAAAAAAQAAEHBZnRb2Vy/GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAkCBodAAAAAgAAAAABAAAQb633/EAAAAkAAAA
	AQEAADE4RDcwMzlELTFGQzEtM0YwQy1CMDdBLUI5RDNCOERFNzU3QRgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAaAAAAAQEAAE5T
	VVJMRG9jdW1lbnRJZGVudGlmaWVyS2V5AAAEAAAAAwMAAMs8AADYAAAA/v///wEAAAAA
	AAAAEQAAAAQQAADQAAAAAAAAAAUQAAB4AQAAAAAAABAQAACwAQAAAAAAAEAQAACgAQAA
	AAAAAAIgAAB8AgAAAAAAAAUgAADsAQAAAAAAABAgAAD8AQAAAAAAABEgAAAwAgAAAAAA
	ABIgAAAQAgAAAAAAABMgAAAgAgAAAAAAACAgAABcAgAAAAAAADAgAACIAgAAAAAAAAHA
	AADQAQAAAAAAABHAAAAgAAAAAAAAABLAAADgAQAAAAAAABDQAAAEAAAAAAAAAJACAIC0
	AgAAAAAAAA==
	</data>
</dict>
</plist>
