<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Game_of_Life.Properties.Settings>
            <setting name="appTitle" serializeAs="String">
                <value>Conway's Game of Life</value>
            </setting>
            <setting name="timeInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="gridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="backgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="cellColor" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="copyright" serializeAs="String">
                <value>Copyright @2022</value>
            </setting>
            <setting name="company" serializeAs="String">
                <value>Character Software Design</value>
            </setting>
            <setting name="description" serializeAs="String">
                <value>Conway's Game of Life Simulation for FullSail University Class Assignment by Roy Welborn</value>
            </setting>
            <setting name="seed" serializeAs="String">
                <value>2022</value>
            </setting>
        </Game_of_Life.Properties.Settings>
    </userSettings>
</configuration>